
link(rel='stylesheet' href='/stylesheets/searchresult.css')
h2=target_pos +"의 숙소" + ((target_num>0) ?", 숙박인원 "+ target_num+"명" : "") 
h3= "검색결과 " + result.length + "건" 
div.row
    each room in result
        div.column
            div.card
                img.imgbox(src= ""+room.image)
                div.contentbox
                    p="위치 :" +room.pos 
                    h3=room.title
                    hr
                    p=room.description
                    p=room.pricelist[0]+'원'
           


